{% extends "base.html" %}

{% block content %}
	<ul>
	{% if object_list %}
		{% for product in object_list %}
			<li>
				<a href="{{ product.get_absolute_url}}">{{ product }}</a> - ${{ product.price }}</br>
				{{ product.description }}
			</li>
		{% endfor %}

	    {% if is_paginated %}
	    </br>
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'product-list'%}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'product-list'%}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    {% else %}
    	<p>No products found!!! </p>
    {% endif %}
    
	</ul>
{% endblock %}